<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://rawgithub.com/isagalaev/highlight.js/master/src/styles/hybrid.css" rel="stylesheet" >
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../static/css/index.css" rel="stylesheet">
  <link href="../static/css/massautocomplete.theme.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width,user-scalable=no">
  <title>Guess the Actor!</title>

</head>

<body class="ng-scope">
  <div ng-controller="mainCtrl" class="container main slim ng-scope" style="height: 315px">

    <div mass-autocomplete="ac_container_options" class="ng-isolate-scope">

    <h3 id="examples" class="ng-scope"> Set Difficulty:</h3>

    <br>

    <form action="/play" method="post" name="inputs" id="form">

        <div class="btn-group">
          <input type="hidden" name="difficulty" id="hidden" value=1></input>
          <button type="button" class="btn btn-default" id="btn1" style="background-color: #e6e6e6; border-color: #adadad; border-radius: 0px" onclick="shade('#btn1', 1)">Hard</button>
          <button type="button" class="btn btn-default" id="btn2" onclick="shade('#btn2', 2)" style="border-radius: 0px">Brutal</button>
          <button type="button" class="btn btn-default" id="btn3" onclick="shade('#btn3', 3)" style="border-radius: 0px">Agony</button>
        </div>

     </div>
     <br>
     <input type=submit value='Start!' style="position: absolute; top: 289px">
   </form>
  </div>
</body>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://rawgithub.com/krisk/Fuse/master/src/fuse.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>

<script>
    function unshade_btn() {
        $(".btn.btn-default").css("background-color","#ffffff");
        $(".btn.btn-default").css("border-color","#ccc");
    };
    function shade(btn, val) {
    unshade_btn();
        $(btn).css("background-color","#e6e6e6");
        $(btn).css("border-color","#adadad");
        $("#hidden").attr("value", val);
    };
</script>
